<!doctype html>
<html>
  <head>
    <div class="navbar">
      <a href="{{ url_for('home') }}">Home</a>
      <a href="{{ url_for('CGGAME') }}">Play</a>
      <a href="{{ url_for('overview') }}">Overview</a>
      <a href="{{ url_for('add_location') }}">Add Location</a>
    </div>
    <title>Challenges</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CG.css') }}" />
  </head>
  <body>
    <h1>Select a Challenge</h1>

    <button
      onclick="window.location.href='{{ url_for('start_challenge', challenge_id=1) }}'"
    >
      Challenge 1 (Cinema Confusion)
    </button>
    <button
      onclick="window.location.href='{{ url_for('start_challenge', challenge_id=2) }}'"
    >
      Challenge 2 (Historical Buildings)
    </button>
    <br /><br />
    <button onclick="window.location.href='{{ url_for('home') }}'">
      Go Back
    </button>
  </body>
</html>
