<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>CampusGuesser Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CG.css') }}" />
  </head>
  <body>
    <h1 class="mainTitle">Welcome to CampusGuesser!</h1>
    <div class="flex-container">
      <div>
        <p>
          Try to guess the campus locations from images. Click below to start
          the game!
        </p>
        <a class="start" href="{{ url_for('campus_guesser') }}">Start Game</a>
        <a class="start" href="{{ url_for('start_multiplayer') }}"
          >Start Multiplayer Match</a
        >
        <a class="start" href="{{ url_for('challenges') }}">Challenges</a>
        <a class="start" href="{{ url_for('add_location') }}">Add Location</a>
      </div>
    </div>
  </body>
</html>
